
#cart{
    overflow-x: auto;
    .section-p1 {
        padding: 40px 80px;
    }
    
    table{
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        white-space: nowrap;
    }
    table img{
        width: 70px;
    }

    table td:nth-child(1){
        width: 100px;
        text-align: center;
    }
    table td:nth-child(2){
        width: 150px;
        text-align: center;
    }
    table td:nth-child(3){
        width: 250px;
        text-align: center;
    }
    table td:nth-child(4){
        width: 150px;
        text-align: center;
    }
    table td:nth-child(5){
        width: 150px;
        text-align: center;
    }
    table td:nth-child(6){
        width: 150px;
        text-align: center;
    }
    thead{
        border: 1px solid #e2e9e1;
        border-left: none;
        border-right: none;
    }
    table thead td{
        font-weight: 700;
        text-decoration: uppercase;
        font-size: 20px;
        padding: 18px 0;
    }
    table tbody tr td{
        padding-top: 15px;
    }
    table tbody td{
        font-size: 18px;
    }
}


.cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 90px;   
    .cupon {
        width: 50%;
        margin-bottom: 30px;
    }
    
     h3{
        padding-bottom: 15px;
    }
    
     input{
        padding: 10px 20px;
        outline: none;
        width: 60%;
        margin-right: 10px;
        border: 1px solid #e2e9e1;
    }
}
.subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid $color_2;
    padding: 30px;
    table{
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }
    table td{
        width: 50%0;
        border: 1px solid  $color_2;
        padding: 10px;
        font-size: 17px;
    }
    
}

