$color_1: #3f3b3b;
$color_2: #031a1d;
$color_3: #fcfcfc;
$color_4: #bababa;
$color_5: #7a7a7a;
$color_6: #e04a34;
$color_7: #a5ccd2;
$color_8: #041e42;
$color_9: #45a7e8;
$color_10: #28746A;
$font-family_1: "Poiret One", cursive;
$font-family_2: "Patrick Hand SC", cursive;
$background-color_1: #f7eff1;
$background-color_2: #ea8576;
$background-color_3: #067c87;
$background-color_4: white;
$background-color_5: #341604;
$background-color_6: #667099;
$background-color_7: #e45c8e;
$background-color_8: #722fb4;
$background-color_9: #e5bdb7;
$background-color_10: #28746A;
$background-color_11: #44beae;
$background-color_12: #ffffff;
$background-color_13: #a5ccd2;
$background-color_14:#041e42;
$background-color_15:#45a7e8;
$border-color_1: #E04A34;
$border-color_2: #E0E0E0;
$border-color_3: #067c87;
$border-color_4: #ffffff;


.header {
	background-image: url("../img/camisetas-logo.png");
	height:100%;
	background-size:cover;
	background-position: center;
	border: #031a1d;

	.logo {
		margin-top: 70px;
		margin-left: 8px;
		height: 130px;
		width: 130px;
		border: 5px solid #053151;
		border-radius: 18px;
	}
}

body {
	background-color: $background-color_1;
	position: relative;
	padding-bottom: 0;
	margin: 0;
}

.nav {
	padding-right: 0px;

	ul {
		display: block;
		background-color: $background-color_3;
		margin-top: -14px;
		border: 3px solid #fafafa;
		border-radius: 13px 13px 0px 0px;
		height: 71px;
		padding-top: 20px;
		padding-left: 0;
		text-align: center !important;

		li {
			display: inline;
			list-style: none;
			padding: 40px;

			a {
				color: $color_3;
				font-family: $font-family_1;
				font-size: 20px;
				text-decoration: none;
				// padding-top: 35px;
				padding-left: 10px;
				padding-right: 10px;

				&:hover {
					background-color: $background-color_2;
					color: $color_5;
				}
			}
		}
	}
}

.navbar {
	background-color: $background-color_3;
	border: $border-color_4 solid 2px;
	height: 60px;

	.navbar-nav {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.navbar-nav li a {
		color: $color_3;	
		font-family: $font-family_1;
		font-size: 20px;

		&:hover {
			color: #e04a34;
		}
	}


}

.mobileMenu {
	display: none;
}

.mobileDropdown {
	z-index: 9999;
	display: inline-block;
	position: relative;
	top: 8px;
	padding: 4px;
	margin-left: 10px;

	.mbtn {
		background-color: $background-color_2;
		color: white;
	}

	.mobileList {
		li {
			display: inline-block;
			font-family: $font-family_1;
			text-align: center;
			padding: 5px;
		}

		a {
			color: $color_2;
			text-decoration: none;
			font-size: 15px;
			padding: 5px;

			&:hover {
				background-color: $background-color_2;
				color: $color_5;
			}
		}

		ul {
			display: none;
			position: absolute;
			top: 8px;
			padding: 1px;
		}
	}

	&:hover {
		.mobileList {
			ul {
				display: block;
				border: solid 2px #e04a34;
				background-color: $background-color_4;
				// height: 130px;
				// width: 100px;
				border-radius: 5px;
				margin-top: 23px;
				margin-left: -8px;
			}
		}
	}
}
.section-p1{
	justify-content: space-between;
	padding: 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1200px;
	font-family: $font-family_1;
	text-align: center;
	text-decoration:$border-color_3;
	cursor: pointer;
	a{
		text-decoration: none;
		color: $color_2;
		&:hover{
			color: $color_3;
		}
	}
	.fe-box{
	
		&:hover{
			background-color: $background-color_13;
			border: 2px solid $border-color_3;
		}
		h3{
			font-size: 20px;
			color: $color_3;
			text-align: center;
		}
		p{
			font-size: 15px;
			color: $color_3;
			text-align: center;
		}
	}

}	
p{
	font-family: $font-family_1;
	font-size: 20px;
	color: $color_3;
}

.newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: $background-color_13;

	.form{
		display: flex;
		width: 40%;
	}
	h3{
		font-size: 22px;
		font-weight: 700;
		color:$color_8;
	}
	p{
		font-size: 19px;
		font-weight: 600;
	}
	input{
		height: 2.125rem;
		padding: 0 1.25em;
		font-size: 14px;
		width: 50%;
		border: 1px solid transparent;
		border-radius: 4px;
		// outline: none;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 6px;
	}
	button{
		background-color:$background-color_2;
		font-family: $font-family_1;
		font-size: 20px;
		color: $color_3;
		white-space: nowrap;
		border-bottom-left-radius: 2;
		border-top-left-radius: 2;
	}
}



   
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $background-color_14;
    font-family: $font-family_1;
    padding: 20px;

   .col{
       
    display: flex;
    flex-direction: column;
    align-items: flex-start;

   }

    .logo{
        margin-bottom: 30px;
    }

    h4{
        font-size: 20px;
        padding-bottom: 15px;
		color: $color_7;
		font-weight: 600;
    }

    p{
        font-size: 17px;
        margin: 0 0 8px 0;
    }
    a{
        font-size: 20px;
        text-decoration: none;
        color: $color_3;
        margin-bottom: 10px;
    }
    .follow{
    margin-top: 15px;
    
}

.install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
.install img{
    margin: 10px 0 15px 0;
}
.icon{
	margin: 0 10px;
	font-size: 25px;
	color: $color_3;
}

.icon i:hover,
footer a:hover{
    color: $color_7;
}

.copyright{
    width: 100%;
    text-align: center;
}

}

// button{
// 	background-color: $background-color_14;

// 	border-radius: 5px;
// 	&:hover{
// 		background-color: $background-color_1;
// 		color: $color_8;
// 	}
// }


@media screen and (max-width: 768px) {
	.nav {
		display: none;
	}

	.footer{
		display: none;
	}

	.mobileMenu {
		display: inline-block;
		margin-top: 30px;
		margin-left: 10px;	
	}

		button {
			position: relative;
			color: $color_2;
			font-family: $font-family_1;
			font-size: 20px;
			border-radius: 5px;
		}

		.newsletter{
			
			.form{
				display: flex;
				width: 100%;
				flex-direction: column;
				align-items: center;
			}
			h3{
				font-size: 18px;
				font-weight: 700;
				color:$color_8;
			}
			p{
				font-size: 17px;
				font-weight: 600;
			}
			
		}
	}

@media (max-width: 1098px) {
	.nav {
		ul{
			li{
				padding:0%;
				text-size-adjust: 10px;
			}
		}
		
	}

}



