.vote-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color_2;

    .vote-count {
        text-align: center;
    }

}

.button-reset{
    display:inline-flex;
    margin-left: 20px;
    border-color: $border-color_3;
}

@media screen and (max-width: 768px) {

    .btn {
        font-size: 1rem;
    }
    .vote-text {
        font-size: 1rem;
    }
   
    
}