.vote-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color_2;

    .vote-count {
        text-align: center;
    }

}
.btn {
    cursor: pointer;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin:10px;
    transition: all 0.5s linear;
    border-color: $border-color_1;
    background:linear-gradient(130deg, 
    rgba(215, 109, 77, 0.9), 
    rgba(222, 191, 150, 0.2));
    color: $color_2;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: $font-family_1;

}
.button-reset{
    display:inline-flex;
    margin-left: 20px;
    border-color: $border-color_3;
}