@import "normalize.css";

@import "general", "contact", "personalizar", "cuenta", "login", "configurar", "tienda", "cart", "producto", "about";

.homePage {
	background-color: $background-color_4;
	height: 450px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	// text-align: center;
	padding: 0 20px;
	border: 20px solid $border-color_4;

	&:hover {
		background-color: $background-color_9;
	}

	
}

.instructions {
	display: grid;
	grid-template-columns: 1fr;
	// margin-top: 50px;
	// margin-bottom: 50px;
	border: 20px solid $border-color_4;
	padding: 2%;
	background-color: $background-color_9;
	margin: 20px;
	border-radius: 28px;
	color: $color_2;
	letter-spacing: 1px;
	
	.instructionsText{
		font-size: 20px;
		font-weight: bold;
		text-align: left;
		font-family: $font-family_1;
		margin-left: 40px;
	}
	&:hover {
		background-color: $background-color_1;
		color: $color_6;
	}
}



.steps {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	border: 20px solid $border-color_4;
	border-radius: 28px;
	color: $color_6;

	h6 {
		font-family: $font-family_1;
		font-size: 20px;

	}

	h3 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: $font-family_1;
		font-size: 20px;

	}

	&:hover {
		background-color: $background-color_9;
		border-color: $border-color_4;
		color: $color_2;

	}
}


.camiseta {

	height: 300px;
	border: 3px solid #e04a34;
	border-radius: 168px;
	margin: 0 auto;
	display: block;
	margin-bottom: 53px;

}

.colorPaleta {
	height: 300px;
	border: 3px solid #e04a34;
	border-radius: 168px;
	margin: 0 auto;
	display: block;
	margin-bottom: 53px;
}

.design {
	height: 300px;
	border: 3px solid #e04a34;
	border-radius: 168px;
	margin: 0 auto;
	display: block;
	margin-bottom: 53px;
}

h1 {
	font-family: $font-family_1;
	font-weight: bolder;
	text-align: center;
	color: $color_1;
	font-size: 40px;
	margin: 30px;
	margin-top: 65px;
	padding: 2%;

	&:hover {
		color: $color_6;
	}
}

h2 {
	font-family: $font-family_2;
	text-align: center;
	color: $color_1;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 60px;

	&:hover {
		color: $color_6;
	}
}

h3 {
	margin-top: 15px;
	margin-bottom: 10px;
	margin: 10px;
	font-family: $font-family_1;
	font-size: 20px;

}

@media screen and (max-width: 868px) {
	.homePage {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		padding: 0 20px;
		border: 20px solid $border-color_4;
	}

	.instructionsText {
		text-size-adjust: 10px;
		margin-left: 10px;
		margin-bottom: 20px;
	}

	.steps {

		display: grid;
		grid-template-columns: 1fr;
		float: left;
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;
		border: 20px solid $border-color_4;
		border-radius: 28px;
		color: $color_6;

	}

	.nav {
		display: none;
	}

	.footerNav {
		display: none;
	}

	.mobileMenu {
		display: inline-block;
		margin-top: 30px;

		button {
			position: relative;
			color: $color_2;
			font-family: $font-family_1;
			font-size: 20px;
			border-radius: 5px;
		}
	}

}

@media screen and (min-width: 868px) {

	.steps {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 968px) {

	.steps {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

	}
}