* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background-color: #2ec0c8;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.menu {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  gap: 2px;
  background-color: #2ec0c8;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}
.menu li {
  color: #fff;
}

.navbar {
  grid-column-start: 4;
  grid-column-end: 6;
  height: 60px;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  font-size: 20px;
}
.navbar a:hover {
  border-bottom: 3px solid #5F9EA0;
  color: #5F9ea0;
}

.logo {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  color: #fff;
}

.signup-btn {
  background-color: #fff;
  padding: 10px 10px;
  color: #5F9EA0;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s;
  width: 5%;
  text-align: center;
  font-weight: bold;
  width: 50%;
}

.signup input[type=text] {
  width: 70%;
  color: #000;
  background-color: #aaafaf;
  font-size: 20px;
  border: 0;
  border-bottom: 2px solid #5F9EA0;
  padding: 3px;
}
.signup input[type=email] {
  width: 70%;
  color: #000;
  background-color: #aaafaf;
  font-size: 20px;
  border: 0;
  border-bottom: 2px solid #5F9EA0;
  padding: 3px;
}
.signup input[type=password] {
  width: 70%;
  color: #000;
  background-color: #aaafaf;
  font-size: 20px;
  border: 0;
  border-bottom: 2px solid #5F9EA0;
  padding: 3px;
}

.popup {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  background-color: #2ec0c8;
  color: #fff;
  font-size: 15px;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  gap: 5px;
  padding: 20px;
}
.footer a {
  color: #fff;
}
.footer .social-links a {
  margin: 0 10px;
}
.footer .social-links a li {
  color: #fff;
}

.blogo {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 10px;
  text-align: center;
}

.bnav {
  grid-column-start: 5;
  grid-column-end: 6;
}

.social-links {
  grid-column-start: 3;
  grid-column-end: 4;
}

.bnav ul {
  display: flex;
}
.bnav a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  font-size: 20px;
}
.bnav a:hover {
  border-bottom: 3px solid #5F9EA0;
  color: #5F9ea0;
}

#last p {
  font-size: 24px;
  font-weight: bold;
}

td {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  border-bottom: slategray 2px solid;
  font-size: 16px;
}

.totalprice {
  font-weight: bold;
  font-size: 24px;
  background-color: #aaafaf;
}

.carrito {
  background-color: #2996ac;
  color: #fff;
  align-items: center;
  text-align: center;
  padding: 25px 50px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.carrito h4 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  grid-column-start: 1;
  grid-column-end: 4;
}

table {
  padding: 10px 10px;
  background-color: #fff;
  color: #000;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
}
table td h6 {
  font-size: 25px;
}

thead {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0 10px;
  border-bottom: 2px solid slategray;
}

th {
  padding: 5px;
  border-bottom: slategray 2px solid;
}

.out {
  background-color: #fff;
  align-items: center;
  color: #000;
  align-items: center;
  text-align: center;
  padding: 25px 50px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.checkout {
  background-color: #2996ac;
  color: #fff;
  align-items: center;
  text-align: center;
  padding: 25px 50px;
  height: auto;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}

input[type=text] {
  width: 15%;
  font-size: 16px;
  text-align: right;
}

#checkbtn {
  background-color: #fff;
  color: #5F9EA0;
  border-radius: 3px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.9);
  margin-top: 25px;
  font-size: 15px;
  padding: 5px 15px;
  font-weight: bold;
  text-transform: uppercase;
}
#checkbtn:hover {
  background-color: #2ec0c8;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 500px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1/2fr;
    display: grid;
  }
  .logo {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .navbar a {
    font-size: 14px;
  }
  .carrito {
    background-color: #2996ac;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 25px 0px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .carrito h4 {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
  }
  table {
    padding: 10px 10px;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 10%;
  }
  table td h6 {
    font-size: 20px;
  }
  thead {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0 10px;
    border-bottom: 2px solid slategray;
  }
  th {
    padding: 5px;
    border-bottom: slategray 2px solid;
    width: 100%;
  }
  td {
    padding: 5px;
    border-bottom: slategray 2px solid;
    width: 100%;
    font-size: 14px;
  }
  .out {
    background-color: #fff;
    align-items: center;
    color: #000;
    align-items: center;
    text-align: center;
    padding: 25px 0px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .checkout {
    background-color: #2996ac;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 25px 0px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
table thead {
  background-color: #2ec0c8;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.payment__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.payment__subtitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.payment__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.payment__form__input {
  width: 100%;
  height: 40px;
  border: 3px solid #160303;
  border-radius: 3px;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.payment__form__input:focus {
  outline: none;
  border: 1px solid #333;
}

.payment__form__button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #333;
  color: #1c0202;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  font-size: 35px;
  color: #fff;
}

#inpFile {
  padding: 10px;
  align-content: left;
  justify-content: left;
}

.image-preview {
  width: 280px;
  min-height: 200px;
  border: 2px solid #ddd;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

.fileup {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 300px;
}

.buttons {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px 20px;
  align-items: center;
  margin-left: 710px;
}

.btn2 {
  background-color: #141616;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.btn2:hover {
  background-color: #aaafaf;
  color: #fff;
}

.btn {
  background-color: #fff;
  padding: 10px 15px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: slategray;
  color: #000;
}

.note {
  background-color: slategray;
  color: #000;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding-bottom: 10px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  height: 100%;
}
.note h5 {
  font-size: 20px;
  text-align: inherit;
}
.note i {
  padding: 0 10px;
}

.shop {
  background-color: #2ec0c8;
}
.shop img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shophead {
  font-family: "Oswald", sans-serif;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.form-control {
  background-color: #fff;
  color: #000;
  font-family: "Oswald", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  height: 100%;
}
.form-control h5 {
  font-size: 20px;
  text-align: inherit;
}
.form-control i {
  padding: 0 10px;
}

.form {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px 20px;
  align-items: center;
  margin-left: 300px;
}

@media (max-width: 500px) {
  h3 {
    text-align: center;
    font-size: 15px;
  }
  #inpFile {
    padding: 5px;
    align-content: left;
    width: 100%;
  }
  .fileup {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 100px;
    margin-right: 100px;
  }
  .image-preview {
    width: 250px;
    min-height: 200px;
    border: 2px solid #ddd;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
  }
  .btn2 {
    background-color: #141616;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  .btn2:hover {
    background-color: #aaafaf;
    color: #fff;
  }
  .btn {
    background-color: #fff;
    padding: 5px 10px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  .btn:hover {
    background-color: slategray;
    color: #000;
  }
  .form {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    color: #fff;
    padding: 10px;
    font-size: 35px;
  }
  .buttons {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 5px 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .note {
    background-color: slategray;
    color: #000;
    font-family: "Oswald", sans-serif;
    padding-bottom: 10px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    width: 80%;
  }
  .note h5 {
    font-size: 10px;
    text-align: inherit;
  }
  .note i {
    padding: 0 10px;
  }
  .shop {
    background-color: #aaafaf;
    background-size: cover;
    padding: 20px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    gap: 5px;
  }
  .shop img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .shophead {
    font-size: 35px;
    text-align: center;
    color: #fff;
    font-family: "Oswald", sans-serif;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .form-control {
    background-color: #2996ac;
    color: #fff;
  }
}
.personalizar {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  background-image: url("./img/camisetas-logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.personalizar a {
  color: #fff;
  text-decoration: none;
  border: solid #000 2px;
  border-radius: 10px;
  background-color: #141616;
  align-content: center;
  text-align: center;
  padding: 10px 10px;
}
.personalizar a:hover {
  color: #000;
  background-color: #aaafaf;
  cursor: pointer;
}

.back {
  background-color: #fff;
  opacity: 50%;
  padding: 200px;
  border: #fff 1px solid;
  border-radius: 10px;
}

.camisetas {
  align-content: center;
  padding-left: 50px;
}

.merchhoodies {
  align-content: center;
  padding-left: 50px;
  padding-right: 50px;
}
.merchhoodies h3 {
  color: #000;
  text-align: center;
  font-size: 50px;
}

.merchmugs {
  align-content: center;
  padding-left: 50px;
}

.shirts {
  align-content: center;
  padding: 20px 20px;
}
.shirts:hover {
  opacity: 100%;
  cursor: pointer;
}

.hoodies {
  align-content: center;
  padding: 20px 20px;
}
.hoodies:hover {
  opacity: 100%;
  cursor: pointer;
}

.mugs {
  align-content: center;
  padding: 20px 20px;
}
.mugs:hover {
  opacity: 100%;
  cursor: pointer;
}

.shop {
  background-image: linear-gradient(to right, #2996ac, slategray);
  background-color: #aaafaf;
  background-size: cover;
  padding: 20px;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  gap: 5px;
}
.shop img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shophead {
  font-size: 45px;
  text-align: center;
  color: #000;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.products {
  background-color: #aaafaf;
  font-size: 20px;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  gap: 5px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  color: #000;
  align-content: center;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  color: #000;
  align-content: center;
}

.item3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  color: #000;
  align-content: center;
}

.step {
  color: #fff;
  font-size: 35px;
  text-align: center;
  margin: 0 20px;
  background-color: #2ec0c8;
  font-family: "Oswald", sans-serif;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  margin: 0 0;
  padding: 10px;
}

.processhead {
  background-color: #2ec0c8;
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 50px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

#p1 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#p2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

#p3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.cards {
  background-color: slategray;
  opacity: 75%;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 0 15px;
}
.cards i {
  position: relative;
  bottom: 65px;
  color: #000;
}
.cards h6 {
  font-size: 40px;
  font-weight: bold;
}

.footer {
  background-color: #2ec0c8;
  color: #fff;
  font-size: 15px;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  gap: 5px;
  padding: 20px;
}
.footer a {
  color: #fff;
}
.footer .social-links a {
  margin: 0 10px;
}
.footer .social-links a li {
  color: #fff;
}

.blogo {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 10px;
  text-align: center;
}

.bnav {
  grid-column-start: 5;
  grid-column-end: 6;
}

.social-links {
  grid-column-start: 3;
  grid-column-end: 4;
}

form {
  background-color: #aaafaf;
  align-content: center;
  align-items: center;
}

.merchimage {
  background-color: #aaafaf;
  align-items: center;
  padding: 100px 200px;
  margin: 20px 100px;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
}

select {
  padding: 10px 10px;
}

#loginbtn {
  background-color: #2ec0c8;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.9);
  margin-top: 25px;
  margin-bottom: 15px;
  text-decoration: none;
  transition: 0.3s;
}
#loginbtn:hover {
  background-color: #aaafaf;
  color: #000;
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.popup i {
  position: absolute;
  top: -15px;
  right: -15px;
  color: #000;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.signinform {
  height: 350px;
  width: 400px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  position: relative;
}

input {
  width: 40%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 2px #000;
  border-bottom: 1px solid #000;
  background-color: #fff;
  color: #000;
  display: block;
  font-size: 15px;
}

#sihead {
  font-size: 25px;
  font-weight: bold;
  background-color: #2996ac;
  color: #000;
}

.createacct {
  background-color: #aaafaf;
  height: 100%;
}

.accounthead {
  background-color: #aaafaf;
  color: #000;
  font-size: 50px;
  text-align: center;
}

.signup {
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.signup input[type=text] {
  width: 50%;
  color: #000;
  background-color: #aaafaf;
  font-size: 20px;
  border: 0;
  border-bottom: 2px solid #5F9EA0;
  padding: 3px;
}
.signup input[type=email] {
  width: 50%;
  color: #000;
  background-color: #aaafaf;
  font-size: 20px;
  border: 0;
  border-bottom: 2px solid #5F9EA0;
  padding: 3px;
}
.signup input[type=password] {
  width: 50%;
  color: #000;
  background-color: #aaafaf;
  font-size: 20px;
  border: 0;
  border-bottom: 2px solid #5F9EA0;
  padding: 3px;
}
.signup input:focus {
  outline: none;
}
.signup p {
  text-align: center;
  font-size: 20px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.signup-btn {
  background-color: #fff;
  padding: 10px 10px;
  color: #5F9EA0;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  text-decoration: none;
  transition: 0.3s;
  width: 25%;
  text-align: center;
}
.signup-btn:hover {
  background-color: #aaafaf;
  color: #000;
  cursor: pointer;
  border: solid 2px #fff;
}

@media (max-width: 500px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1/2fr;
    display: grid;
  }
  .logo {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .navbar a {
    font-size: 14px;
  }
  .personalizar {
    font-size: 25px;
    color: #5F9EA0;
    text-align: center;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .personalizar a {
    color: #5F9EA0;
    text-decoration: none;
    border: solid #000 2px;
    border-radius: 10px;
    background-color: #2ec0c8;
    align-content: center;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
  }
  .back {
    background-color: #fff;
    opacity: 70%;
    padding: 100px;
    border: #fff 1px solid;
    border-radius: 10px;
  }
  .merchhoodies {
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
  }
  .camisetas {
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 100%;
    width: 100%;
  }
  .merchmugs {
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    height: 100%;
    width: 100%;
  }
  .put {
    visibility: hidden;
  }
  .shirts {
    visibility: hidden;
  }
  .hoodies {
    visibility: hidden;
  }
  .mugs {
    visibility: hidden;
  }
  .imgdesc {
    visibility: hidden;
  }
  .shop {
    background-image: linear-gradient(to right, #1270a7, slategray);
    background-size: cover;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1/2fr 1fr;
    gap: 5px;
  }
  .shophead {
    text-align: left;
    color: #000;
    font-family: "Oswald", sans-serif;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #000;
    align-content: center;
    padding: 15px 15px;
  }
  .item1 img {
    width: 300px;
  }
  .item2 {
    visibility: hidden;
  }
  .item3 {
    visibility: hidden;
  }
  .step {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1/2fr 1fr 1fr 1fr;
  }
  .processhead {
    background-color: #aaafaf;
    color: #000;
    text-align: center;
    font-family: "Oswald", sans-serif;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #p1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #p2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #p3 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .cards {
    background-color: slategray;
    opacity: 75%;
    border-radius: 5px;
    padding: 60px 15px;
    margin: 0 15px;
  }
  .cards i {
    position: relative;
    bottom: 65px;
    color: #000;
  }
  .cards h6 {
    font-weight: bold;
  }
  .form-control {
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: 15px;
  }
  .footer {
    color: slategrey;
    background-color: rgb(201, 200, 206);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .blogo {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 10px;
    text-align: center;
  }
  .bnav {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 5px;
  }
  .social-links {
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    display: grid;
    grid-template-rows: 1fr 1/2fr;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 30px;
  }
  .navbar {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .navbar a {
    font-size: 16px;
  }
  .navbar a:hover {
    color: #000;
  }
  .personalizar {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .back h2 {
    color: #000;
    font-size: 20px;
  }
  .back a {
    padding: 5px 5px;
    font-size: 10px;
  }
  .merchhoodies {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .camisetas {
    grid-row-start: 3;
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .merchmugs {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}/*# sourceMappingURL=style.css.map */